{% extends 'menu/base.html'%}


{% block head_title %}
  {{block.super}} || Home
{% endblock head_title %}
{% load static %}

{% block navbar%}
<ul class="nav navbar-nav navbar-right">
  <li class="nav-item"><a class="nav-link" href="/cart"><span class="glyphicon glyphicon-user"></span>Cart</a></li>
  <li class="nav-item"><a class="nav-link" href="/profile"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
  <li class='nav-item'><a class="nav-link"href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
</ul>
{% endblock navbar%}

{% block jumbotron %}
<div class="container">
<div class="jumbotron">
  <div class="container">
    <br><h1 class="display-3 text-center" > Checkout </h1><br>
    <p>Please Enter Valid Address </p>
  </div>
</div>
</div>
{% endblock jumbotron %}
{% block address %}


<form method="POST" action="">

  {% csrf_token %}
  {{form.as_p}}

  <input type="submit" name="action" value ="confirm">
</form>
{% endblock address %}
